.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-container {
  margin-right: 10px;
}

input[type="text"],
button {
  border-radius: 10px; 
  padding: 10px;
  font-size: 16px;
  border: none;
}

button {
  background-color: #007bff; 
  color: white;
  cursor: pointer;
  border: 5px;
  border-color: aqua;
}

button:hover {
  background-color: #0056b3; 
}
